[submodule "pack/base/start/lastplace"]
	path = pack/base/start/lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule "pack/base/start/polyglot"]
	path = pack/base/start/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
# [submodule "pack/base/start/vimrc"]
# 	path = pack/base/start/vimrc
# 	url = https://github.com/sheerun/vimrc.git 
# 	branch = 73e4c4606bf54f0f22534afcb2320471566fbd4a
# 	atclone = "rm -rf colors/"
[submodule "pack/base/start/vinegar"]
	path = pack/base/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git

[submodule "pack/core/start/commentary"]
	path = pack/core/start/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/core/opt/which-key"]
	path = pack/core/opt/which-key
	url = https://github.com/liuchengxu/vim-which-key.git

