[submodule "pack/core/start/which-key"]
	path = pack/core/opt/which-key
	url = https://github.com/liuchengxu/vim-which-key.git
[submodule "pack/core/start/lastplace"]
	path = pack/core/start/lastplace
	url = https://github.com/farmergreg/vim-lastplace.git
[submodule "pack/core/start/sensible"]
	path = pack/core/start/sensible
	url = https://github.com/tpope/vim-sensible.git
